.footer {
  width: 100%;
  float: left;
  background: #f4f4f4;
  min-height: 300px;
}
.footer-inner {
  height: 300px;
  display: table;
  width: 100%;
}
.footer-content {
  display: table-cell;
  vertical-align: middle;
}
.footer-content p {
  color: #787878;
}
.footer-content h4 {
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

ul.social-media {
  padding: 0;
  text-align: center;
}
ul.social-media li {
  list-style-type: none;
  display: inline;
  padding: 5px;
}
