.ItemDetail {
    display: flex;
    flex-direction: column;
   align-items: center;
}

.btn-colors input {
padding: 5px;
width: 100px;

margin: 5px;
margin-bottom: 20px;
}


.btn-black {
    background-color: black;
    color: white;
}

.btn-white {
    background-color: white;
    border: solid 1px black;
}
.btn-white:hover {
    color: gray;
    border: solid 1px gray;;
    background-color: whitesmoke;
}

.btn-gray{
    background-color: gray;
    color: white;
}

@media (max-width: 575.98px) { 
    .container-detail{
        flex-direction: column;
    }
    .col-6{
        width: 100%;
    }
    .btn-colors input{
        width: 80px;
    }
 }

 .Card:hover {
     color: rgb(54, 54, 54) !important;
 }