.ImgCard:hover {
   /* object-fit: none; */
  transform: scale(2.8);
  padding-top: 40px;
  }
.ImgCard{
  object-fit: cover;
  transition: 0.5s;
}
  .card {
    overflow: hidden;
  }

  .Card {
    text-decoration: none;
  }
  a:-webkit-any-link {
    color: black;
  }

  a:hover {
    color: rgb(102, 78, 19) !important;
  }

  .card-body {
    padding: 0.3rem 0.3rem !important;
    background-color: lightgray;
  }

  .card-title{
    font-size: 0.8rem;
    height:30px;
    margin-bottom: 2.5rem;
    
  }

  .card-subtitle{
    color: gray;
    font-size: 0.8rem !important;
  }

  .card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    height: 260px;
    object-fit: cover;
  }

  .card-footer {
    background-color: #ffc107 !important;
  }