.GridCards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    justify-content: center;
  }
  .btn-pag {
    width: 130px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .form-control:focus{
    border-color: black !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 235, 58, 0.25) !important;
}

